@font-face {
    font-family: lemonmilk;
    src: url(../fonts/lemon_milk/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: aldo;
    src: url(../fonts/AldotheApache.ttf);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F3D3CA;
    animation: fadeIn 1s;
    margin: 0;
}

button {
    width: 240px;
    height: 240px;
    border-radius: 100px;
    background-color: #B3C1B2;
    font-size: 108px;
    border-style: none;
    margin: 10px 30px 30px 30px;
    box-shadow: 0 20px #9CA798, 40px 70px #E0C4BC;
}

.button-on {
    height: 230px;
    box-shadow: 0 15px #9CA798, 40px 70px #E0C4BC;
}

.button-down {
    height: 225px;
    box-shadow: 0 10px #9CA798, 40px 70px #E0C4BC;
    background-color: #a7b9a5;
}

.player {
    margin: auto;
}

.player button {
    font-size: 150px;
}

#score {
    font-family: 'lemonmilk', sans-serif;
    font-size: 24px;
    color: #F3D3CA;
    width: 280px;
    margin: 20px auto;
    text-align: center;
    border-radius: 60px;
    background-color: #D0AE8F;
    padding: 20px;
}

#again {
    font-size: 32px;
    font-family: "aldo", sans-serif;
    color: #D0AE8F;
    margin: 0 auto 5px auto;
}

#h1 {
    text-align: center;
    font-family: 'lemonmilk', sans-serif;
    font-size: 32px;
    color: #F3D3CA;
    width: auto;
    margin: 15px auto;
    border-radius: 60px;
    background-color: #D0AE8F;
    padding: 15px 30px;
}

#computer {
    width: 180px;
    height: 160px;
    border-radius: 70px;
    margin: auto auto 20px auto;
    background-color: #B3C1B2;
    font-size: 108px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 15px #9CA798, 30px 50px #E0C4BC;
}